
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: 'corebandifacew01';
    src: url(fonts/CoreBandiFaceW01-Regular.woff) format('woff2'),
        url(fonts/CoreBandiW01-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'corebandiw01';
    src: url(fonts/CoreBandiFaceW01-Regular.woff2) format('woff2'),
        url(fonts/CoreBandiW01-Regular.woff2) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
  scroll-behavior: smooth;
}

body{
	font-family: 'corebandifacew01' ;
	font-size: 16px;
	color: #707070;
	background-color: #FFFEF5;
}

h1{
	font-family: 'corebandifacew01';
	padding: 15px;
    font-size: 3rem;
	background-position: center;
	text-align: center;
}

h2{
	font-family: 'corebandiw01';
	color: #868685;
	padding: 50px;
    font-size: 1.8rem;
	background-image: url(imagenes/rectangle81.svg);
	text-align: center;
	height: 136px;
	background-position: center;
}

h3{
	font-family: 'Ubuntu';
	color: #182837;
	padding: 15px;
    font-size: 2rem;
}

m{
	font-size: 3rem;
	text-align: center;
	height: 216px;
	display: inline-block;
	top: 134px;
	position: relative;
}

p{
	/*! margin: 0 0 8px 0; */
	font-size: 1.1rem;
	text-align: center;
}


#navigation h1 a{
	text-indent:-100000px;
	background-image:url(imagenes/logo.png);
	background-repeat:no-repeat;
	background-size: contain;
    height: 100px;
	width: 300px;
    background-position: center center;
	display: block;
	margin: 0 auto;
}
#buscador{
	font-size:1.5rem;
}

.screen-reader-text{
	display:none;
}

.navbar-expand-md {
    flex-wrap: wrap;
    background-color: #b6ccef;
}
.navbar-dark .navbar-toggler {
    color:#B6CCEF;
    border-color: #E3E5FF;
	background-color: #B6CCEF;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url(imagenes/3-ray.svg);
}
.bg-primary {
    background-color: #f8c32500 !important;
}
.navbar-collapse {
	
	background-color:  #b6ccef; 
	
}

.muestra-menu{
	color:rgba(255,255,255,1);
	display: none;
	text-indent:-10000px;
}

#navigation li{
	margin-bottom: 1rem;
}
#navigation li a{
	font-size:1.3rem;
	color:#fff;
	padding: 0rem 3rem 0rem 3rem;
	border-right: solid 1px #B6CCEF;
	text-align: center;
}
#navigation li:last-child a{
	border-right: none;
}

.botoncito{
	color:#C00;
	background-position: left;
	position: initial;
	display: inline-block;
	padding: 10px 20px;
	background-color: #E3E5FF;
	color: #868686;
	border-radius: 44px;
	text-decoration: none;
	width: 150px;
	height: 52px;
	text-align: center;
	line-height: 35px;
	margin-left: auto;
}

.botoncito3{
	color:#C00;
	background-position: left;
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	background-color: #E3E5FF;
	color: #868686;
	border-radius: 44px;
	text-decoration: none;
	width: 150px;
	height: 52px;
	text-align: center;
	line-height: 36px;
	margin-left: auto;
	top: 191px;
}

.botoncito4{
	color:#C00;
	background-position: left;
	position: initial;
	display: inline-block;
	padding: 10px 20px;
	background-color: #E3E5FF;
	color: #868686;
	border-radius: 44px;
	text-decoration: none;
	width: 150px;
	height: 52px;
	text-align: center;
	line-height: 35px;
	margin-left: auto;
}

#navigation li a:hover{
	color:#95ADDD;
}
#todos-post{
	text-align:center;
}
.contenedor {
	text-align: center;
}
.post-contenido{
	margin: 0px 0px 30px 0px;
}
.post-contenido p{
	text-align: center;
}
.post-thumbnail{
	font-size:0.875rem;
	padding-bottom: 15px;
	/*margin: 2rem !important;*/
}
.post-thumbnail img{
	border-radius: 24px;
	scale: 3;
	height: 522px;
	width: 252px;
}
.post-title a{
	font-size:2rem;
	text-decoration:none;
	display: block;
}

#premios img{
	margin: 0px 32px;
}
footer{
	padding: 2rem 0rem;
	font-size: 0.75rem;
	background-image: url(imagenes/inf-mot.svg);
	height: 300px;
}

#redes img{
	height: 50px;
}


.bg-header{
	
	background-image: url(imagenes/sup-mot.svg);
	height: 90px;
	background-position: center;
	/*! background-size: contain; */
}
/* categoria*/
.navigation{
	font-size:0.875rem;
}

#creditos{
	margin-top: -20px;
	margin-bottom: 20px;
}
#redes {
	margin-bottom: -60px;
}
#creditos p{
	text-align: center;
	color: #FFFFF5;
}

/* pagina */
#sinopsis{
	text-align: center;
	background-image: url(imagenes/fondosinopsis.png);
	background-repeat: no-repeat;
	background-position: 65% top;
}



#contenido-premios img{
	margin: 0em 2em; 
}

.subir a{
	border-radius: 100%;
	width: 80px;
	height: 80px;
	display: block;
	background-color: #E3E5FF;
	color: #95ADDD;
	text-align: center;
	padding-top: 30px;
	text-decoration: none;
	margin: 22px;
}
#premios .row a{
	margin-bottom: 36px;;
}
@media (max-width:767px){
	
}
	.navbar-collapse {
	margin-top: 15px;
	}
	
	



.dropdown-menu {
	/* background-color: #fff; */
	/* border: 1px solid rgba(0, 0, 0, 0.15); */
	/* border-radius: 0.25rem; */
	background-color: #E3E5FF;
	border-radius: 1.25rem;
  }
  
  
	
	#navigation li a {
		border-right: none;
	}

/*WordpPrees*/

.alignright { float: inherit; scale: 1;}
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }


